$color-accent-1: rgba(152, 122, 11, 1);
$color-accent-2: rgba(253, 183, 26, 1);

$color-semantic-1:rgba(0, 196, 179, 1);
$color-semantic-2:rgba(11, 227, 188, 1);
$color-semantic-3:rgba(189, 227, 220, 1) ;
$color-semantic-4:rgba(232, 252, 248, 1); 
$color-semantic-5:rgba(0, 209, 222, 1); 
$color-semantic-6:rgba(118, 188, 33, 1); 
$color-semantic-7:rgba(246, 51, 51, 1); 
$color-semantic-8:rgba(20, 130, 149, 1) ; 
$color-semantic-9:rgba(245, 255, 253, 1) ; 
$color-semantic-10:rgba(244, 253, 255, 1); 
$color-semantic-11 :rgba(176, 205, 204, 1);

$color-neutral-1:rgba(36, 37, 37, 1);
$color-neutral-2:rgba(87, 87, 87, 1);
$color-neutral-3:rgba(142, 142, 142, 1);
$color-neutral-4:rgba(192, 192, 192, 1);
$color-neutral-5:rgba(217, 217, 217, 1);
$color-neutral-6:rgba(245, 245, 245, 1);
$color-neutral-7:rgba(255, 255, 255, 1);

$mb-20:20px;
main{
    background-color:#F5F5F5;
}
$phone: 991.98px;
@mixin media($type){
    @media screen and (max-width:$type){
        @content;
    }
}
